body {
  background-color: #ec5454;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  text-align: center;
  margin-top: 1rem;
  border-radius: 4px;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  text-align: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
footer {
  text-align: center;
  margin-top: 1rem;
}
