h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#cpf li a,
#cnpj li a {
  color: #333;
  text-decoration: none;
}

#cpf li a:hover,
#cnpj li a:hover {
  color: #000;
  text-decoration: none;
}
